* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  background-color: darkorange;
}
* {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Roboto", Courier, monospace;
  color: darkred;
}
/*###################################
specific stylin*/

.header {
  text-align: center;
  background-color: darkcyan;
  padding: 30px 50px;
}

.main {
  max-width: 800px;
  margin: auto;
  padding: 16px;
}
a {
  color: black;
  width: 100px;
  border: 10px;
  padding: 10px;
  margin-top: 20px;
}
a:hover {
  background-color: greenyellow;
}
a:active {
  color: aqua;
}
article:nth-child(2) {
  border-top: 2px solid currentColor;
}
article:nth-child(3) {
  border-top: 2px solid currentColor;
}
article:nth-child(4) {
  border-top: 2px solid currentColor;
}
