* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto" sans-serif;
  font-size: 10px;
}
@media screen and (min-width: 786px) {
  html {
    font-size: 25px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 30px;
  }
}
body {
  margin: 0rem;
  background-color: darkorange;
}

h1,
h2,
h3 {
  font-family: "Roboto", Courier, monospace;
  color: darkred;
}
/*###################################
specific styling*/
::selection {
  background-color: black;
  color: orange;
}
.header {
  text-align: center;
  background-color: darkcyan;
  padding-top: 2rem;
  padding: 2rem;
  padding-left: 6rem;
  position: relative;
}
.top {
  font-size: 3rem;
}
.title {
  font-size: 1em;
}

.profession {
  font-size: 0.25em;
}

.hire {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: greenyellow;
  color: black;
}
ul {
  list-style: none;
}
.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexbox2 {
  display: flex;
  gap: 1rem;
}

@media screen and (min-width: 992px) {
  .hire {
    position: fixed;
  }
}
@media print {
  .hire {
    display: none;
  }
  .nav-link {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .main > * + * {
    margin-top: 5rem;
  }
  .flexbox {
    flex-direction: row;
    justify-content: center;
  }
  .flexbox2 {
    flex-direction: column;
  }
}

.main {
  max-width: 70ch;
  margin: auto;
  padding: 1rem;
}
a {
  color: black;
  width: 6rem;
  border: 0.75rem;
  padding: 0.75rem;
  margin-top: 1.25rem;
}
.nav-link:hover {
  background-color: greenyellow;
}
.nav-link:active {
  background-color: green;
}
.contact:hover {
  color: aliceblue;
}
.contact:active {
  background-color: bisque;
}

/*
article:nth-child(2) {
  border-top: 2px solid currentColor;
}
article:nth-child(3) {
  border-top: 2px solid currentColor;
}
article:nth-child(4) {
  border-top: 2px solid currentColor;
}
*/
.main > * {
  border-top: 1rem dotted;
  color: brown;
}
.main > *:first-child {
  border-top: none;
}
.profession::before {
  content: "🦋";
}

.profession::after {
  content: "🦋";
}

.experience-heading {
  display: inline-block;
  margin-right: 0.75rem;
}

.experience-subheading {
  display: inline-block;
}

.heading {
  font-size: 2.5rem;

  position: relative;
  margin-right: 0.75rem;
}
