:root {
  --clr-header: #588b8b;
  --clr-main: #e6ebe0;
  --clr-h: #ed6a5a;
  --clr-back: snow;
  --clr-txt: black;
  --clr-accent: #0a8a8a;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto" sans-serif;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }

  h1,
  h2,
  h3 {
    font-family: "Roboto", Courier, monospace;
  }
}
body {
  margin: 0rem;
  background-color: var(--clr-main);
  color: var(--clr-txt);
}
*::selection {
  background-color: var(--clr-back);
}

a,
a:link,
a:hover,
a:visited,
a:active {
  color: var(--clr-txt);
}
/***************************************************
specific styling*/

.header {
  padding: 3rem 1rem;
  padding-top: 4.5rem;
  text-align: center;
  background-image: linear-gradient(90deg, var(--clr-header), var(--clr-main));
  position: relative;
  color: var(--clr-txt);
}
.top {
  font-size: 4rem;
}
.title {
  font-size: 1em;
}

.profession {
  font-size: 0.25em;
}

.profession::before {
  content: "🦋";
}

.profession::after {
  content: "🦋";
}

.hire {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: var(--clr-accent);
  color: var(--clr-txt);
}

@media screen and (min-width: 992px) {
  .hire {
    position: fixed;
  }
}
@media print {
  .hire {
    display: none;
  }
  .nav-link {
    display: none;
  }
}

.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .flexbox {
    flex-direction: row;
    justify-content: center;
  }
}

.nav-link {
  padding: 0.25rem 0.5rem;
  color: var(--clr-main);
}

.nav-link:hover {
  background-color: var(--clr-main);
  color: var(--clr-txt);
}

.nav-link:active {
  background-color: var(--clr-accent);
  color: var(--clr-txt);
}

.nav-link:visited {
  color: var(--clr-txt);
}

@media screen and (min-width: 768px) {
  .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

.main {
  max-width: 70ch;
  margin: 0 auto;
  padding: 1rem;
}

.main > * + * {
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .main > * + * {
    margin-top: 5rem;
  }
}

.main > * {
  border-top: 0.125rem dotted var(--clr-accent);
  padding: 0 1rem;
}

.main > *:first-child {
  border-top: none;
}

.article-heading {
  position: relative;
  left: -1rem;
}

.experience-heading {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .experience-heading {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.contact:hover {
  padding: 0.1rem 0.25rem;
  background-color: var(--clr-accent);
}

.footer {
  width: fit-content;
  background-color: transparent;
  background-image: linear-gradient(to right, var(--clr-accent), white);
}
